{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Banner -->
<div class="banner" id="banner">

    <!-- slider -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-1.jpg' %}" alt="banner">
            </div>

            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-2.jpg' %}" alt="banner">
            </div>

            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-3.jpg' %}" alt="banner">
            </div>
        </div>

        <!-- search box -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'search' %}" method="get">
                 <div class="form-group">
                     <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                 </div>
                    <div class="form-group">
                     <button class="btn btn-block button-theme btn-md">
                         <i class="fa fa-search"></i> Search
                     </button>
                 </div>
            </form>

        </div>

    </div>
</div>

<!-- Featured Cars -->
<div class="featured-car content-area-5">
    <div class="container">
        <div class="main-title">
            <h1>Featured <span>Cars</span></h1>
        </div>

        <div class="row">
            {% for car in cars %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box-3">
                    <div class="car-thumbnail">
                        <a href="{% url 'car_detail' car.id %}" class="car-img">
                            <img class="d-block w-100" src="{{ car.car_photo.url }}" alt="{{ car.car_name }}">
                        </a>
                    </div>

                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'car_detail' car.id %}">{{ car.car_name }}</a>
                        </h1>
                        <ul class="facilities-list clearfix">
                            <li>{{ car.fuel_type }}</li>
                            <li>{{ car.kilometers_driven }} km</li>
                            <li>{{ car.year }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<!-- Our team section -->
<div class="our-team content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>

        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" 
                 data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint":1024,"settings":{"slidesToShow":2}}, {"breakpoint":768,"settings":{"slidesToShow":1}}]}'>
                {% for member in team_members %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{ member.photo.url }}" alt="{{ member.name }}" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="#">{{ member.name }}</a></h4>
                            <h5>{{ member.role }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->




{% endblock %}
