{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Car Inventory</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Cars</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">

                <div class="row">

                    {% for car in cars %}
                    <div class="col-lg-6 col-md-6"> 
                        <div class="car-box-3">
                            <div class="car-thumbnail">

                                <!-- CORRECT CAR DETAIL URL -->
                                <a href="{% url 'car_detail' car.id %}" class="car-img">

                                    <div class="tag">For Rent</div>
                                    <div class="price-box">
                                        <span>₹{{ car.price }}</span>
                                    </div>

                                    <!-- CAR IMAGE -->
                                    <img class="d-block w-100"
                                         src="{{ car.car_photo.url }}"
                                         alt="{{ car.car_name }}">
                                </a>

                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'car_detail' car.id %}">
                                        {{ car.car_name }}
                                    </a>
                                </h1>

                                <div class="location">
                                    <a href="{% url 'car_detail' car.id %}">
                                        <i class="flaticon-pin"></i>
                                        {{ car.location }}
                                    </a>
                                </div>

                                <!-- SPECIFICATIONS -->
                                <ul class="facilities-list clearfix">
                                    <li>{{ car.fuel_type }}</li>
                                    <li>{{ car.kilometers_driven }} km</li>
                                    <li>{{ car.car_model }}</li>
                                    <li>{{ car.transmission_type }}</li>
                                    <li>{{ car.color }}</li>
                                    <li>{{ car.year }}</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <!-- RIGHT SIDEBAR SEARCH  (unchanged) -->
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search your desire car</h3>
                        <form method="GET">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="brand">
                                    <option>Brand</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="location">
                                    <option>Location</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="year">
                                    <option>Year</option>
                                </select>
                            </div>
                            <div class="form-group mb-0">
                                <button class="search-button btn">Search</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}
