{% extends 'base.html' %}
{% block content %}

<!-- Banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Results</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Banner end -->
<div class="container mt-4">
    <h2>Search Results</h2>

    {% if keyword %}
    <p>Showing results for: <strong>{{ keyword }}</strong></p>
    {% endif %}

    <div class="row">
        {% for car in cars %}
        <div class="col-lg-4 col-md-6">
            <div class="car-box-3">
                <a href="{% url 'car_detail' car.id %}">
                    <img src="{{ car.car_photo.url }}" class="img-fluid">
                </a>
                <h4>{{ car.car_name }}</h4>
            </div>
        </div>
        {% empty %}
        <p>No cars found.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
